.hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)), url('../../../images/main.jpeg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hero-banner {
    text-align: center;
    color: white;
    padding: 0 3rem;
}

.hero-banner h1 {
    text-transform: uppercase;
    font-size: 65px;
}

.hero-banner p {
    max-width: 38rem;
    margin-left: auto;
    /* font-size: 15px; */
    margin-right: auto;
    margin-bottom: 45px;
    color: white;
    letter-spacing: 0.25rem;
}

.hero-btn {
    padding: 0.9rem 1.6rem;
    font-size: 28px;
    margin-top: 5px;
    text-transform: uppercase;
    background: white;
    color: hsl(185, 62%, 45%);
    border: 2px solid white;
}

.hero-btn:hover {
    background: transparent;
    color: white;
    border-color: white;
}