.tour {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  text-transform: uppercase;
}

h1 span {
  margin-left: 5px;
  color: hsl(185, 62%, 45%);
}

.scard {
  display: flex;
  gap: 1rem;
}

.s-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 217, 217);
  padding: 1rem;
  /* gap: 0.7rem; */
  justify-content: space-between;
}

.simage img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.desc {
  margin-top: 2px;
  font-weight: 400;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
